* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  height: 100vh;
  background-image: linear-gradient(
    rgba(52, 235, 207, 0.1),
    rgba(52, 73, 235, 0.1)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.grid {
  width: 40vw;
  height: 40px;
  background-color: rgb(34, 201, 34);
  border-radius: 12px;
}
